@use 'sass:math';

$base-height: 1080 !default;
$base-width: 1920 !default;

@function get-vh($px, $viewport: $base-height) {
  @return #{calc($px / $viewport) * 100}vh;
}

@function get-vw($px, $viewport: $base-width) {
  @return #{calc($px / $viewport) * 100}vw;
}

@function get-size($size) {
  $px: math.div($size, $base-width);
  @return calc(var(--container-width) * $px);
}
