@use 'sass:math';

$base-height: 1080px;
$base-width: 1920px;

@function get-vh($object) {
  $baseUnit: 1vh;
  $vh: ($base-height * 0.01) * 1px;

  @return math.div($object, $vh) * $baseUnit;
}

@function get-vw($object) {
  $baseUnit: 1vw;
  $vh: ($base-width * 0.01) * 1px;

  @return math.div($object, $vh) * $baseUnit;
}

@function get-size($size) {
  $px: math.div($size, $base-width);
  @return calc(var(--container-width) * $px);
}