@use "sass:meta";
@use './functions.scss';

:root {
  --container-height: #{functions.$base-height};
  --container-width: #{functions.$base-width};
}

html, body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.app-container {
  position: relative;
  overflow: hidden;
  background: #ccc;
  margin: 0 auto;
  font-size: functions.get-size(32);

  &.portrait {
    height: 100vh;
    width: calc(100vh / 16 * 9);
    &.reverse {
      height: calc(100vw / 9 * 16);
      width: 100vw;
    }
  }

  &.landscape {
    margin-top: calc(50vh - calc(50vw / 16 * 9));
    height: calc(100vw / 16 * 9);
    width: 100vw;
    &.reverse {
      margin-top: 0;
      height: 100vh;
      width: calc(100vh / 9 * 16);
    }
  }
}

@include meta.load-css("debugger.scss");